/*Limpar padroes*/
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.texto{
    font-family:arial,helvetica;
    font-size: larger;
}
#cabecalho{
    background-color: chartreuse;
    text-align: center;
    padding: 20px;
}
#links a{
    color: rgb(1, 185, 1);
    margin-left: 5%;
    font-size: 0.9em;
}

#links a:hover{
    text-decoration: underline;
}
#background{
    background-color: rgb(231, 231, 231);
}

#siga-nos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.8em;
    padding: 1px;
    /*background-color: rgb(255, 255, 230);*/
    margin: 40%;
    padding: 1%;
}
#alinhar{
    text-align: center;
}

#alinhar a{
    color: darkgreen;
}

#alinhar a:hover{
    color: lime;
}
h5{
    padding-top: 10px;
}
h6{
    font-size: 0.7em;
}